* {
  box-sizing:border-box;
} 
 
/*classes*/
.header {
  text-align: center;
  background-color:cornsilk
}

.listContainer {
  display: flex;
  justify-content: center;
}

.clientContainer {
  text-align: center;
}

.selectContainer {
  margin: 2rem;
  font-size: large;
}

.formContainer {
  display: flex;
  justify-content: center;
  margin: 2rem;
  font-size: large;
}

.form {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  font-size: large;
}

/* objects */

ul {
  list-style-type: none;
  padding: 2rem;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid 0.1px gray;
  text-decoration: none;
  color: black;
}

input {
  font-size: large;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

div > .backLink {
  margin: 2rem;
}

div.clientContainer {
  font-size: large;
}

div.listContainer {
  font-size: large;
}

/* indeces */